@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: "black";
}

body {
  font-family: "Roboto", sans-serif;
}
